@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.navitem {
  background-color: #e49944;
  height: 3px;
  min-width: 20px;
  width: 35%;
}
.nav {
  width: 20%;
}
.main {
  width: 80%;
}
.bg {
  border-bottom-left-radius: 20%;
  height: 37%;
}
.portfolio-line {
  background-color: #ccc;
  height: 3px;
  width: 30%;
}
