@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.navitem {
  background-color: #e49944;
  height: 3px;
  min-width: 20px;
  width: 35%;
}
.nav {
  width: 20%;
}
